* {
    background: rgb(51, 90, 51);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: yellow;
    font-size: 50px;
}

button {
    background: lightblue;
}

#mapGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    box-sizing: unset;
}

.row {
    display: flex;
}

#player {
    width: 40px;
    height: 40px;
    background: rgb(255, 196, 0);
    display: flex;
    align-items: center;
}

.wall {
    background: brown;
}